.header__lang-link {
  color: white;
}

.header__lang-link:checked + label::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 23px;
  height: 1px;
  background-color: white;
}

@media (min-width: 768px) {
  .header__lang-link:checked + label::before {
    top: 25px;
    width: 31px;
    height: 2px;
  }
}
