.cover__link {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  width: inherit;
  transition: background-color .3s ease-in;
  z-index: 2;
}

.cover__link:hover {
  background-color: #2A2C2F;
  opacity: 0.8;
}
