.lead {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 320px;
}

@media (min-width: 768px) {
  .lead {
    padding-bottom: 74px;
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .lead {
    width: 928px;
    padding-bottom: 78px;
  }
}

@media (min-width: 1280px) {
  .lead {
    width: 984px;
  }
}
