.place__paragraph {
  margin: 0;
  margin-bottom: 25px;
  padding-left: 16px;
  padding-right: 16px;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .place__paragraph {
    padding: 0;
    width: 352px;
  }

  .place__paragraph:first-child {
    grid-column: 2/-1;
    grid-row: 2/3;
  }

  .place__paragraph:last-child {
    grid-column: 2/-1;
    grid-row: 3/-1;
  }
}

@media (min-width: 1024px) {
  .place__paragraph {
    width: 456px;
    font-size: 18px;
    line-height: 1.6;
  }
}

@media (min-width: 1280px) {
  .place__paragraph {
    width: 484px;
  }
}
