.place__link {
  margin: 0;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #FFFFFF;
  transition: opacity .3s ease-in;
}

.place__link:hover {
  opacity: 0.5;
}

@media (min-width: 768px) {
  .place__link {
    grid-column: 2/-1;
    grid-row: 2/3;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
  }
}
