.lead__caption {
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 14px;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
}

@media (min-width: 768px) {
  .lead__caption {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  .lead__caption {
    padding: 0;
  }
}
